<div class="bookmark">
	<!-- farmeｒ でログインしている場合 -->
	<% if current_f_user%>
		<% if request.favorited_by?(current_f_user) %>
			<%= link_to request_favorite_stars_path(request), method: :delete, class: "bm",remote: true do %>
			<span class="glyphicon glyphicon-bookmark bookmark-1 <%= request.id %>" aria-hidden="true"></span>
			<% end %>
		<% else %>
			<%= link_to request_favorite_stars_path(request), method: :post, class: "bm", remote: true do %>
			<span class="glyphicon glyphicon-bookmark bookmark-0 <%= request.id %>"  aria-hidden="true"></span>
			<% end %>
		<% end %>
	<!-- company でログインしている場合 -->
	<% else%>
		<%= link_to request_path(request), method: :get do %>
		<span class="glyphicon glyphicon-bookmark" aria-hidden="true" style="color: #996;"></span>
		<%= request.favorite_stars.count %>
		<% end %>
	<% end %>
</div>