<div class="container">
	<h3><i class="fas fa-home"></i>&ensp;
		<% if @user == current_f_user %>マイファーム
		<% else %><%= @user.farm %>
		<% end %>
	</h3>

	<!-- ===== サクセスメッセージ ===== -->
	<%= notice %>

	<!-- ===== 情報別タブボタン===== -->
	<div class="row">
		<div id="tab-menu" class="col-md-6 col-md-offset-6 clearfix" >
			<a href="#tab-all" class="tab-btn active btn col-md-4">基本情報</a>
			<a href="#tab-crops" class="tab-btn btn col-md-4">作物情報</a>
			<a href="#tab-blogs" class="tab-btn btn col-md-4">旬ネタ</a>
		</div>
	</div>

	<!-- ===== 情報別の内容 ===== -->
	<div id="tab-contents">

		<!-- === 基本情報 === -->
		<div id="tab-all" class="tab">
			<!-- ----- ユーザー基本情報 ----- -->
			<div class="basic row item">
				<p class="item-title color-base">基本情報</p>
				<div class="col-md-4 ">
					<%= attachment_image_tag @user, :image, fallback: "/images/farmer.png" ,class: "img-responsive img-thumbnail"%>
				</div>
				<div class="col-md-8">
					<table class="table table-hover">
						<tr>
							<th width="30%">◇&emsp;ファーム名</th>
							<td width="70%"><%= @user.farm %></td>
						</tr>
						<tr>
							<th width="30%">◇&emsp;担当者名</th>
							<td width="70%"><%= @user.name %></td>
						</tr>
						<tr>
							<th width="30%">◇&emsp;ファーム紹介</th>
							<td width="70%"><%= simple_format(@user.profile) %></td>
						</tr>
						<tr>
							<th width="30%">◇&emsp;ファームのHP</th>
							<td width="70%"><%= @user.hp_url %></td>
						</tr>
						<tr>
							<th width="30%">◇&emsp;所在地</th>
							<td width="70%"><%= @user. address %></td>
						</tr>
						<tr>
							<th width="30%">◇&emsp;連絡の取りやすい時間</th>
							<td width="70%"><%= @user.conv_time %></td>
						</tr>
					</table>
					<!-- リンクボタン -->
					<div class="link-btn">
						<% if @user == current_f_user %>
							<%= link_to "基本情報を編集する",[:edit,current_f_user],class: "btn btn-default col-md-7 " %>
							<%= link_to "退会する",f_user_path(@user),
								method: :delete, data: { confirm: '本当に退会しますか？'},
								class: "btn btn-default col-md-4 col-md-offset-1" %>
						<% elsif  @user != current_f_user && @c_user  %>
							<%= link_to "担当者と連絡を取る",@chatroom,class: "btn btn-block btn-default" %>
						<% end %>
					</div>
				</div>
			</div>
			<!-- ----- google map表示 ----- -->
			<div class="map row item">
				<p class="item-title color-base">所在地</p>
					<iframe
					width="100%"
					height="450"
					frameborder="0" style="border:0"
					src=<%= "https://www.google.com/maps/embed/v1/search?key=***************&q=#{@user.address}" %> allowfullscreen></iframe>
			</div>
		</div>


		<!-- === 作物情報 === -->
		<div id="tab-crops" class="tab">
			<!-- ----- 収穫カレンダー ----- -->
			<div class="calenders row item">
				<p class="item-title color-base">
					作物カレンダー
					<!-- 新規投稿ページへのリンク -->
					<% if @user == current_f_user %>
						<span class="link-btn">
							&emsp;<%= link_to "",:new_crops_calendar, class: "far fa-plus-square" %>
						</span>
					<% end %>
			  </p>
				<!-- カレンダーの表示 -->
				<div class="col-md-12 col-sm-12">
					<% if @crops_calendars.empty? %>
						<p align="center">※ 登録されている作物はありません ※</p>
					<% else %>
						<table class="">
			    		<thead>
			    			<tr>
			    				<th class="crop">作物名</th>
									<% ["1月","2月","3月","4月","5月","6月","7月","8月","9月","10月","11月","12月"].each do |month| %>
											<th class="month"><%= month %></th>
									<% end %>
			    			</tr>
			    		</thead>
			    		<tbody>
			    			<% @crops_calendars.each do |cc| %>
				    			<tr>
				    				<th class="crop"><%= cc.crops %></th>
										<% [cc.Jan,cc.Feb,cc.Mar,cc.Apr,cc.May,cc.Jun,cc.Jul,cc.Aug,cc.Sep,cc.Oct,cc.Nov,cc.Dec].each do |c| %>
											<%if c == 2%>
											<td class="bestSeason""></td>
											<%elsif c == 1%>
											<td class="season"></td>
											<% else %>
											<td></td>
											<% end %>
										<% end %>

				    				<!-- 編集・削除ボタン -->
				    				<% if @f_user == current_f_user %>
				    				<td class="cc-edit">
				    					<%= link_to "",[:edit, cc], class: "glyphicon glyphicon-pencil" %>
				    					<%= link_to "", cc, method: :delete, data: { confirm: '本当に削除しますか？'}, class: "glyphicon glyphicon-trash" %>
				    				</td>
				    				<% end %>
				    			</tr>
			    			<% end %>
			    		</tbody>
				    </table>
			    	<p align="right" class="cc-color">
			    		<span class="bestSeason"></span>&ensp;BestSeason&emsp;
			    		<span class="season"></span>&ensp;Season
			    	</p>
					<% end %>
				</div>
			</div>

			<!-- ----- ユーザーが投稿したプロポーザル一覧 ----- -->
			<div class="row item">
				<p class="item-title color-base">
					ファームからのプロポーザル
					<!-- 新規投稿ページへのボタン -->
					<% if @user == current_f_user %>
						<span class="link-btn">
							&emsp;<%= link_to "", :new_proposal, class: "far fa-plus-square" %>
						</span>
					<% end %>
				</p>
				<div class=" row f_user_proposal">
					<% if @proposals.empty? %>
						<p align="center">※ ファームからのプロポーザルはまだありません ※</p>
					<% else %>
						<% @proposals.each do |proposal| %>
							<%= render 'proposals/proposals_index',proposal:proposal %>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>


		<!-- === 旬ネタ === -->
		<div id="tab-blogs" class="tab">
			<!-- ----- ユーザーが投稿した旬ネタ一覧 ----- -->
			<div class="row item">
				<p class="item-title color-base">
					ファーム旬ネタ
					<!-- 新規投稿ページへのボタン -->
					<% if @user == current_f_user %>
						<span class="link-btn">
							&emsp;<%= link_to "", :new_blog, class: "far fa-plus-square" %>
						</span>
					<% end %>
				</p>
				<div class="row f_user_blogs">
					<% if @blogs.empty? %>
						<p align="center">※ 投稿されている旬ネタはありません ※</p>
					<% else %>
						<% @blogs.each do |blog| %>
						<%= render 'blogs/blogs_index',blog:blog %>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>

	</div>
</div>
