<div class="field ">
	<%= f.label :b_title ,"◇ タイトル" %>
	<%= f.text_field :b_title, class: "form-control" %>
</div>

<div class="field ">
	<%= f.label :b_category, "◇ カテゴリー" %><br />
	<%= f.select :b_category,[["収穫情報", "0"],["レシピ紹介", "1"],["コラボ情報","2"],["その他","3"]],  class: "form-control" %><br />
</div>

<div class="field ">
	<%= f.label :b_body, "◇ 本文" %>
	<%= f.text_area :b_body, rows:"5", class: "form-control" %>
</div>

<div class="field ">
	<%= f.label :b_image,"◇ 写真投稿" %>
	<%= f.attachment_field :b_image %>
</div>