<div class="container">

	<!-- -- 固定 カテゴリ別タブボタン -- -->
	<div class="row">
		<div class="col-md-6">
			<h3><b>旬ネタ情報</b></h3>
		</div>
		<div id="tab-menu" class="col-md-6 clearfix" >
			<a href="#tab-harvest" class="btn col-md-2">収穫情報</a>
			<a href="#tab-recipe" class="btn col-md-2">レシピ</a>
			<a href="#tab-collabo" class="btn col-md-2">コラボ情報</a>
			<a href="#tab-other" class="btn col-md-2">その他</a>
			<a href="#tab-all" class="btn col-md-2 col-md-offset-1">ALL</a>
		</div>
	</div>

	<div id="tab-contents" class="row">
		<!-- -- All -- -->
		<div id="tab-all" class="tab">
			<% @blogs.each do |blog| %>
			<%= render 'blogs/blogs_index',blog:blog %>
			<% end %>
		</div>
		<!-- -- 収穫情報 -- -->
		<div id="tab-harvest" class="tab">
			<% @blogs_harvest.each do |blog| %>
			<%= render 'blogs/blogs_index',blog:blog %>
			<% end %>
		</div>
		<!-- -- レシピ -- -->
		<div id="tab-recipe" class="tab">
			<% @blogs_recipe.each do |blog| %>
			<%= render 'blogs/blogs_index',blog:blog %>
			<% end %>
		</div>
		<!-- -- コラボ情報 -- -->
		<div id="tab-collabo" class="tab">
			<% @blogs_collabo.each do |blog| %>
			<%= render 'blogs/blogs_index',blog:blog %>
			<% end %>
		</div>
		<!-- -- その他 -- -->
		<div id="tab-other" class="tab">
			<% @blogs_b_other.each do |blog| %>
			<%= render 'blogs/blogs_index',blog:blog %>
			<% end %>
		</div>
	</div>
</div>


<!-- -- JS/TABU切り替え -- -->
<script>
	$(function(){
		$('#tab-contents .tab[id != "tab-all"]').hide();
		$('#tab-menu a').on('click', function() {
			$("#tab-contents .tab").hide();
			$("#tab-menu .active").removeClass("active");
			$(this).addClass("active");
			$($(this).attr("href")).show();
			return false;
		});
	});
</script>