<!-- ===== 画像 ===== -->
<div class="blog-main-visual">
	<div class="blog-main-visual-content">
		<p class="blog-main-visual-text">
			ファームからの旬なネタをお届け！<br>
			<br>
			こだわりの生産方法や<br>
			農家さんならではのレシピなどを紹介しています。
		</p>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h3><b>旬ネタ情報</b></h3>
		</div>
		<!-- ===== カテゴリ別タブメニュー ===== -->
		<div id="tab-menu" class="col-md-6 clearfix" >
			<a href="#tab-harvest" class="tab-btn btn col-md-2">収穫情報</a>
			<a href="#tab-recipe" class="tab-btn btn col-md-2">レシピ情報</a>
			<a href="#tab-collabo" class="tab-btn btn col-md-2">コラボ情報</a>
			<a href="#tab-other" class="tab-btn btn col-md-2">その他</a>
			<a href="#tab-all" class="tab-btn active btn col-md-2 col-md-offset-1">ALL</a>
		</div>
	</div>

	<!-- ===== カテゴリ別index ===== -->
	<div id="tab-contents" class="row">
		<!-- -- All -- -->
		<div id="tab-all" class="tab">
			<% @blogs.each do |blog| %>
			<%= render 'blogs/blogs_index',blog:blog %>
			<% end %>
		</div>
		<!-- - - 収穫情報 - - -->
		<div id="tab-harvest" class="tab">
			<% @blogs_harvest.each do |blog| %>
			<%= render 'blogs/blogs_index',blog:blog %>
			<% end %>
		</div>
		<!-- - - レシピ - - -->
		<div id="tab-recipe" class="tab">
			<% @blogs_recipe.each do |blog| %>
			<%= render 'blogs/blogs_index',blog:blog %>
			<% end %>
		</div>
		<!-- - - コラボ情報 - - -->
		<div id="tab-collabo" class="tab">
			<% @blogs_collabo.each do |blog| %>
			<%= render 'blogs/blogs_index',blog:blog %>
			<% end %>
		</div>
		<!-- - - その他 - - -->
		<div id="tab-other" class="tab">
			<% @blogs_b_other.each do |blog| %>
			<%= render 'blogs/blogs_index',blog:blog %>
			<% end %>
		</div>
	</div>

</div>

<!-- ===== topへ戻るボタン(ビューーンて動くやつ) ===== -->
<span id="back">
	<a href="#">
		<%= image_tag('arrow.png') %>
	</a>
</span>

