<div class="container">
	<h3><i class="fas fa-comments"></i>&emsp;商談ルーム</h3>

	<div class="current_user_chatroom row">
		<table class=" chatUserList table table-hover">
			<% if @chatrooms.empty? %>
				<p align="center">※ まだ商談ルームがありません ※<br>
				<% if @c_user %>
					<%= link_to "コラボ先を探す", proposals_path %>
				<%else%>
					<%= link_to "コラボ先を探す", requests_path %>
				<% end%>
				</p>
			<%else%>
				<% @chatrooms.each do |chatroom|%>
				<tr>
					<!-- - - farmer がログインしている場合 - - -->
					<% if @f_user %>
						<!--  アイコン -->
						<td class="col-md-1 col-sm-2">
							<%= attachment_image_tag(chatroom.c_user, :image, :fill, 70, 70, fallback: "company.png" ,class: "img-responsive img-circle") %>
						</td>
						<!-- サムネイル -->
						<td class="chatRoomUser col-md-11 col-sm-10">
							<%= link_to chatroom_path(chatroom) do%>
							<b><%= chatroom.c_user.name%>&ensp;
							<span class="chatUserBelogs"><%= chatroom.c_user.company%></span></b><br>
							<%= render 'messages/last_message',chatroom:chatroom %>
							<% end%>
						</td>
					<!-- - - company がログインしている場合 - - -->
					<% else %>
						<!--  アイコン -->
						<td class="col-md-1 col-sm-2">
							<%= attachment_image_tag(chatroom.f_user, :image, :fill, 70, 70, fallback: "farmer.png" ,class: "img-responsive img-circle") %>
						</td>
						<!-- サムネイル -->
						<td class="chatRoomUser col-md-11 col-sm-10">
							<%= link_to chatroom_path(chatroom) do%>
							<b><%= chatroom.f_user.name%>&ensp;
							<span class="chatUserBelogs"><%= chatroom.f_user.farm%></span></b><br>
							<%= render 'messages/last_message',chatroom:chatroom %>
							<% end%>
						</td>
					<% end %>
				</tr>
				<% end %>
			<% end %>
		</table>
	</div>

</div>


