<div class="container">

	<!--  商談相手  -->
	<div class="chatUser">

		<h3 class="chatUserName">
			<% if @f_user == current_f_user %>
				<%= link_to c_user_path(@c_user) do %>
					<i class="fas fa-comments"></i>&emsp;
					<%= @c_user.name %>
					<span class="chatUserBelogs"> <%= @c_user.company %></span>
				<% end %>
			<% elsif @c_user == current_c_user %>
				<%= link_to f_user_path(@f_user) do %>
					<i class="fas fa-comments"></i>&emsp;
					<%= @f_user.name %>
					<span class="chatUserBelogs"> <%= @f_user.farm %></span>
				<% end %>
			<% end %>
		</h3>

		<span>
			<%= link_to chatrooms_path do %>
			  	<span class="chatUserBelogs">  |  Exit</span>&nbsp;
			  	<span class="glyphicon glyphicon-log-out"></span>
		    <% end %>
		</span>

	</div>

	<!-- エラーメッセージ -->
	<% if @message.errors.any? %>
		<div id="error_explanation" class="alert alert-danger">
			<ul>
				<%= @message.errors.count %>件のエラーが発生しました。
				<% @message.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>



	<!-- -- メッセージ一覧 -- -->
	<div id="messages-area" class="messages ">
		<%= render partial:'messages/messages', locals: { messages: @messages } %>
	</div>

	<!-- -- メッセージ入力欄 -- -->
	<div class="message-form form-group row">
		<%= form_with model:@message,url:chatroom_messages_path(@chatroom), id: "posts" do |f| %>
			<div class="field">
				<%= f.label :text, "◆ メッセージ入力" %>
				<%= f.text_area :text, rows:"2", class: "form-control" %>
			</div>
			<p>
				<%= f.submit "送信",class: "message-send"  %>
			</p>
		<% end %>
	</div>
</div>


