<%= form_for (crops_calendar) do |f|%>

	<!-- ===== エラーメッセージ ===== -->
	<% if @crops_calendar.errors.any? %>
		<div id="error_explanation" class="alert alert-danger">
			<ul>
				<%= @crops_calendar.errors.count %>件のエラーが発生しました。
				<% @crops_calendar.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<!-- ===== 入力フォーム ===== -->
	<div class="row">
		<div class="col-md-10 col-md-offset-1 col-sm-12">
			<div class="field">
				<%= f.label :crops ,"◇ 作物名" %>
				<%= f.text_field :crops, class: "form-control " %>
			</div>
			<div class="calenders">
				<%= f.label :jan,"◇ 作物収穫カレンダー" %>
				<table>
					<tbody>
						<tr>
							<td class="crop"></td>
							<% ["1月","2月","3月","4月","5月","6月","7月","8月","9月","10月","11月","12月"].each do |month| %>
									<td class="month"><%= month %></td>
							<% end %>
						</tr>
						<tr class="bestSeason">
							<td class="crop">Best Season</td>
							<% [:Jan,:Feb,:Mar,:Apr,:May,:Jun,:Jul,:Aug,:Sep,:Oct,:Nov,:Dec].each do |month| %>
								<td><label><%= f.radio_button month, "2" %></label></td>
							<% end %>
						</tr>
						<tr class="season">
							<td class="crop">Season</td>
							<% [:Jan,:Feb,:Mar,:Apr,:May,:Jun,:Jul,:Aug,:Sep,:Oct,:Nov,:Dec].each do |month| %>
								<td><label><%= f.radio_button month, "1" %></label></td>
							<% end %>
						</tr>
						<tr class="offSeason">
							<td class="crop">Off Season</td>
							<% [:Jan,:Feb,:Mar,:Apr,:May,:Jun,:Jul,:Aug,:Sep,:Oct,:Nov,:Dec].each do |month| %>
								<td><label><%= f.radio_button month, "0" %></label></td>
							<% end %>
						</tr>
					</tbody>
				</table>
			</div>
			<p class="actions">
				<%= f.submit "更新する" ,class: "btn btn-block btn-default btn-xs"%>
				<%= link_to '戻る', :back ,class: "btn btn-block btn-default btn-xs"%>
			</p>
		</div>
	</div>

<% end %>
