<div class="col-md-3">
	<div class="">
		<%= request.category %><br>
		<%= link_to request.title,request_path(request) %><br>
		<%= request.location %><br>
		<%= request.start_season.strftime('%Y年%m月') %>~<%= request.finish_season.strftime('%Y年%m月') %><br>
		<%= link_to request.c_user.company,c_user_path(request.c_user)%><br>
	</div>
</div>