<!-- ===== カード ===== -->
<div class="col-md-4 col-sm-6">
	<div class="requestCard ribbon_box">
		<!-- リボン(赤) -->
		<% if request.category == "農作物出荷" %>
			<span class="requestCard-ribbon ribbon0"><%= request.category%></span>
		<!-- リボン(水色) -->
		<% elsif request.category == "体験/イベント" %>
			<span class="requestCard-ribbon ribbon2"><%= request.category%></span>
		<!-- リボン(緑) -->
		<% else %>
			<span class="requestCard-ribbon ribbon3"><%= request.category%></span>
		<% end %>

		<!-- リクエスト概要 -->
		<div class="request-content">
			<h4>
				<%= link_to request_path(request) do%>
				<%= truncate(request.title, :omission => "...",:length => 35) %>
				<% end %>
			</h4>
			<p>
				<span class="item"><i class="fas fa-map-marker-alt"></i>&ensp;出荷先/開催地</span>&emsp;
				<b><%= request.location %></b><br>
				<span class="item"><i class="fas fa-calendar-alt"></i>&ensp;希望時期</span>&emsp;&emsp;&emsp;&emsp;
				<b><%= request.start_season.strftime('%Y年%m月') %>~<%= request.finish_season.strftime('%Y年%m月') %></b>
			</p>
		</div>
		<div class="requestCard-user">
			<i class="fas fa-home"></i>&ensp;<%= link_to request.c_user.company, request.c_user %>
		</div>

		<!-- bookmarkマーク -->
		<%= render 'favorite_stars/bookmarks',request:request %>
	</div>
</div>
