<!-- ===== 画像 ===== -->
<div class="req-main-visual">
	<div class="req-main-visual-content">
		<p class="req-main-visual-text">
			様々な企業からの<br>
			コラボリクエストを掲載<br>
		</p>
	</div>
</div>

<div class="container">

	<div class="row">
		<h3 class=" index-headline"><b>企業からのコラボリクエスト</b></h3>

		<!-- === 検索フォーム === -->
		<%= render 'requests/search_form' %>

		<!-- === カテゴリ別タブメニュー === -->
		<%= render 'proposals/tab_menu' %>
	</div>

	<div id="tab-contents" class="row">
		<!-- -- All -- -->
		<div id="tab-all" class="tab">
			<% @requests.each do |request| %>
			<%= render 'requests/requests_index',request:request %>
			<% end %>
		</div>

		<!-- -- 春/3月~5月 -- -->
		<div id="tab-spring" class="tab">
			<% @requests_spring.each do |request| %>
			<%= render 'requests/requests_index',request:request %>
			<% end %>
		</div>

		<!-- -- 夏/6月~8月 -- -->
		<div id="tab-summer" class="tab">
			<% @requests_summer.each do |request| %>
			<%= render 'requests/requests_index',request:request %>
			<% end %>
		</div>

		<!-- -- 秋/9月~11月 -- -->
		<div id="tab-autumn" class="tab">
			<% @requests_autumn.each do |request| %>
			<%= render 'requests/requests_index',request:request %>
			<% end %>
		</div>

		<!-- -- 冬/12月~1月 -- -->
		<div id="tab-winter" class="tab">
			<% @requests_winter.each do |request| %>
			<%= render 'requests/requests_index',request:request %>
			<% end %>
		</div>

		<!-- -- 農作物出荷 -- -->
		<div id="tab-shipment" class="tab">
			<% @requests_shipment.each do |request| %>
			<%= render 'requests/requests_index',request:request %>
			<% end %>
		</div>

		<!-- -- 体験イベント -- -->
		<div id="tab-event" class="tab">
			<% @requests_event.each do |request| %>
			<%= render 'requests/requests_index',request:request %>
			<% end %>
		</div>

		<!-- -- その他 -- -->
		<div id="tab-other" class="tab">
			<% @requests_other.each do |request| %>
			<%= render 'requests/requests_index',request:request %>
			<% end %>
		</div>

		<!-- -- 登録済 -- -->
		<div id="tab-fav" class="tab">
			<% @requests_fav.each do |request| %>
			<%= render 'requests/requests_index',request:request %>
			<% end %>
		</div>
	</div>
</div>

<!-- ===== topへ戻るボタン(ビューーンて動くやつ) ===== -->
<span id="back">
	<a href="#">
		<%= image_tag('arrow.png') %>
	</a>
</span>

