<div class="container">

	<!-- サクセスメッセージ -->
	<p id="notice"><%= notice %></p>

	<div class="row request-show">
		<div class="col-md-10 col-md-offset-1">
			<div class="request-headline">
				<h4><%= @request.title %></h4>
				<p>
					<span class="request-category"><%= @request.category %></span>
					<%= @request.c_user.company%>
					<% if @c_user == current_c_user %>
					<span>
						&ensp;<%= link_to "",edit_request_path(@request),class: "glyphicon glyphicon-pencil" %>
						&ensp;|&ensp;<%= link_to "",request_path(@request),method: :delete, data: { confirm: '本当に削除しますか？'} ,class: "glyphicon glyphicon-trash" %>
					</span><br>
					<% end %>
				</p>
			</div>
			<div class="request-show">
				<p>
					・希望時期
					&emsp;<%= @request.start_season.strftime('%Y年%m月') %>&ensp;~&ensp;<%= @request.finish_season.strftime('%Y年%m月') %>
				</p>
				<p>・出荷先/開催地&emsp;<%= @request.location %></p>
				<p>・リクエスト内容<br><%= @request.body %></p>
			</div>
		</div>
	</div>
</div>