<div class="container">

	<!-- サクセスメッセージ -->
	<p id="notice"><%= notice %></p>

	<div class="row">
		<% if @c_user != current_c_user %>
			<h3 class="item-title color-base"><%= link_to @request.c_user.company,c_user_path(@request.c_user)%>&ensp;からのプロポーザル</h3>
		<% end %>
		<div class="request-show col-md-12">
			<%= render 'favorite_stars/bookmarks',request:@request %>
			<!-- 詳細内容 -->
			<div class="col-md-10 col-md-offset-1">
				<h3><%= @request.title %></h3>
				<p class="request-category"><%= @request.category %></p>

				<p><i class="fas fa-calendar-alt"></i>&ensp;希望時期&emsp;<%= @request.start_season.strftime('%Y年%m月') %>&ensp;~&ensp;<%= @request.finish_season.strftime('%Y年%m月') %></p>
				<p><i class="fas fa-map-marker-alt"></i>&ensp;出荷先/開催地&emsp;<%= @request.location %></p>
				<p><i class="far fa-clipboard"></i>&ensp;リクエスト内容<br><%= simple_format(@request.body) %></p>
			</div>
			<% if @c_user == current_c_user %>
				<span class="pro-edit-link">
					&ensp;<%= link_to "",edit_request_path(@request),class: "glyphicon glyphicon-pencil" %>
					&ensp;|&ensp;<%= link_to "",request_path(@request),method: :delete, data: { confirm: '本当に削除しますか？'} ,class: "glyphicon glyphicon-trash" %>
				</span><br>
			<% end %>
		</div>
		<%= link_to '戻る', :back ,class: "col-md-1 col-md-offset-11 btn  btn-default btn-xs"%>
	</div>

	<!-- favorite(bookmark) した人一覧-->
	<% if @c_user == current_c_user %>
	<div class="row favorited-users">
		<p class="item-title color-base col-md-offset-1">
			<span class="glyphicon glyphicon-bookmark"aria-hidden="true" style="color: orangered;"> </span>しているユーザー
		</p>
		<table class="table table-hover">
			<% @favorited_users.each do |favorited_user| %>
			<tr class="col-md-offset-1 col-md-10">
				<td class="col-md-1 col-md-offset-1">
					<%= attachment_image_tag(favorited_user, :image, :fill, 70, 70, fallback: "farmer.png" ,class: "img-responsive img-thumbnail") %>
				</td>
				<td class="col-md-10">
					<b><%= link_to "#{favorited_user.farm} / #{favorited_user.name}",f_user_path(favorited_user) %>
				</td>
			</tr>
			<% end %>
		</table>
	</div>
	<% end %>
</div>