<div class="container">

	<!-- ===== サクセスメッセージ ===== -->
	<p id="notice"><%= notice %></p>

	<!-- ===== proposalの内容 ===== -->
	<div class=" row">
		<!-- === 投稿ユーザー表示 === -->
		<% if @f_user != current_f_user %>
			<h3 class="item-title color-base"><%= link_to @proposal.f_user.farm, @proposal.f_user %>&ensp;からのプロポーザル</h3>
		<% end %>
		<!-- === 詳細内容 === -->
		<div class="col-md-12 proposal_show">
			<!-- bookmark -->
			<%= render 'favorite_hearts/bookmarks',proposal:@proposal %>
			<!-- テキスト -->
			<div class="col-md-7 col-md-offset-1">
			    <h3><%= @proposal.title %></h3>
				<p class="proposal-category"><%= @proposal.category %></p>
				<p><i class="fas fa-calendar-alt"></i>&ensp;出荷時期/開催時期&emsp;<%= @proposal.start_season.strftime('%Y年%m月') %>&ensp;~&ensp;<%= @proposal.finish_season.strftime('%Y年%m月') %></p>
				<p><i class="fas fa-map-marker-alt"></i>&ensp;出荷元/開催地&emsp;<%= @proposal.location %></p>
				<p><i class="far fa-clipboard"></i>&ensp;提案内容<br><%= simple_format(@proposal.body) %></p>
			</div>
			<!-- 画像 -->
			<div class="col-md-3 proposal-image">
				<% if @proposal.category == "体験/イベント" %>
				<%= attachment_image_tag @proposal, :p_image, fallback:"/images/Experience.png",class: "img-responsive img-thumbnail" %>
				<% else %>
				<%= attachment_image_tag @proposal, :p_image, fallback:"/images/Vegetables.png",class: "img-responsive img-thumbnail" %>
				<% end %>
			</div>
			<!-- 削除・編集ボタン -->
			<% if @f_user == current_f_user %>
				<span class="pro-edit-link">
					&ensp;<%= link_to "",[:edit, @proposal], class: "glyphicon glyphicon-pencil" %>
					&ensp;|&ensp;<%= link_to "", @proposal, method: :delete, data: { confirm: '本当に削除しますか？'} ,class: "glyphicon glyphicon-trash" %>
				</span>
			<% end %>
		</div>
		<!-- === backボタン === -->
		<%= link_to '戻る', :back ,class: "col-md-1 col-md-offset-11 btn  btn-default btn-xs"%>
	</div>


	<!-- ===== favorite(bookmark) した人一覧 ===== -->
	<% if @f_user == current_f_user %>
		<div class="row favorited-users">
			<p class="item-title color-base col-md-offset-1">
				<span class="glyphicon glyphicon-bookmark"aria-hidden="true" style="color: orangered;"> </span>しているユーザー
			</p>
			<table class="table table-hover">
				<% @favorited_users.each do |favorited_user| %>
					<tr class="col-md-offset-1 col-md-10">
						<td class="col-md-1 col-md-offset-1">
							<%= attachment_image_tag(favorited_user, :image, :fill, 70, 70, fallback: "/images/company.png" ,class: "img-responsive img-thumbnail") %>
						</td>
						<td class="col-md-10">
							<b><%= link_to "#{favorited_user.company} / #{favorited_user.name}", favorited_user %>
						</td>
					</tr>
				<% end %>
			</table>
		</div>
	<% end %>

</div>
