<div class="container">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6 form-group">
      <h2>Sign up</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field ">
          <%= f.label :name,"◆ お名前" %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name",placeholder:"山田太郎",class: "form-control" %>
        </div>

        <div class="field ">
          <%= f.label :company,"◆ 企業名" %><br />
          <%= f.text_field :company, autofocus: true, autocomplete: "company",placeholder:"コラボロ社",class: "form-control" %>
        </div>

        <div class="field ">
          <%= f.label :industry,"◆ 業種" %><br />
          <%= f.select :industry,[["飲食店", "飲食店"],["メーカー", "メーカー"],["旅行","旅行"],["広告","広告"],["イベント","イベント"],["その他","その他"]], autofocus: true,class: "form-control" %>
        </div>

        <div class="field ">
          <%= f.label :post_code,"◆ 企業の郵便番号" %><br />
          <%= f.text_field :post_code, autofocus: true, autocomplete: "post_code",placeholder:"0000000",class: "form-control" %>
        </div>

        <div class="field ">
          <%= f.label :address,"◆ 企業の所在地" %><br />
          <%= f.text_area :address, autofocus: true, autocomplete: "address",placeholder:"東京都xx区xxx0丁目000-00 xxxxxxx00号",class: "form-control"  %>
        </div>

        <div class="field ">
          <%= f.label :tell,"◆ 電話番号" %><br />
          <%= f.text_field :tell, autofocus: true, autocomplete: "tell" ,placeholder:"00000000000",class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :email,"◆ メールアドレス" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :password,"◆ パスワード" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password",class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation,"◆ パスワード確認" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up",class: "btn btn-block btn-default btn-xs" %>
        </div>
      <% end %>

      <%= render "c_users/shared/links" %>
      </div>
    <div class="col-md-3">
    </div>
  </div>
</div>